<section id="about" class="pt-xl pb-md">
  <div class="container bios">
    <div class="grid-row with-gutters stacked-mobile">
      <div class="grid-col">
        <h1 class="title">About Us</h1>
        <p>Laura and Austin met at Saint Louis University while playing on the men's and women's ultimate frisbee teams. They became fast friends over their love of ultimate and Lacledes. Friendship turned into romance, and the two began dating in 2011. The years of long distance could not separate the two, and with the help of Franklin (the dog) and a couple of friends, Austin proposed to Laura this past spring in Fort Worth. After all the adventures they've shared, they are excited to start this new chapter of life together.</p>
      </div>
    </div>
  </div>
</section>
