<div class="separator mt-lg section-2"></div>

<section id="ceremony" class="pt-xl pb-md">
  <h1 class="title centered borderless mb-lg">Ceremony</h1>
  <div class="container">
    <div class="col-with-photo">
      <div class="col-photo">
        <img src="assets/img/church.png">
      </div>
      <div class="col-content">
        <h3 class="title">Arlington Heights First United Methodist Church</h3>
        <p>4200 Camp Bowie Blvd</p>
        <p>Fort Worth, TX 76107</p>
        <p><a href="#">Get directions</a></p>
        <p>Saturday, June 11, 2016 at 1:00pm</p>
      </div>
    </div>
  </div>
</section>
