<header class="banner">
  <div class="container">
    <span class="logo">
      <span class="logo-title">
        <span>Laura</span>
        <span>&nbsp;+&nbsp;</span>
        <span>Austin</span>
      </span>
      <span class="logo-subtitle">June 11, 2016</span>
    </span>
  </div>
  <div id="countdown" class="centered"></div>
</header>

<div class="social centered container mt-lg">
  <p>Join in the fun on social media! Tag your pics and posts with</p>
  <h2 class="hashtag">#gettingmarREED</h2>

  <div class="social-links">
    <a href="https://www.instagram.com/explore/tags/gettingmarREED/" target="_blank" class="social-link mx-sm"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/hashtag/gettingmarREED" target="_blank" class="social-link mx-sm"><i class="fa fa-twitter"></i></a>
  </div>
</div>
