<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{ site.data.settings.title }}</title>
  <meta name="author" content="Laura + Austin">
  <meta name="description" content="{{ site.data.settings.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Gulp will compile all CSS files in the css directory to main.min.css. Include additional stylesheets here. -->
  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/main.min.css">
  <!-- Parse is our data store -->
  <script src="//www.parsecdn.com/js/parse-1.6.4.min.js"></script>
</head>
