<div class="separator mt-lg section-4"></div>

<section id="hotel" class="pt-xl pb-md">
  <h1 class="title centered borderless mb-lg">Hotel</h1>
  <div class="container">
    <p class="centered">Here is some information about where you can stay while you're in town for the wedding.</p>
    <div class="col-with-photo">
      <div class="col-photo">
        <img src="assets/img/hotel.jpg">
      </div>
      <div class="col-content">
        <h3 class="title">{{ site.data.hotel.venue }}</h3>
        <p class="mb-0">{{ site.data.hotel.address_1 }}</p>
        <p>{{ site.data.hotel.address_2 }}</p>
        <p><a href="{{ site.data.hotel.directions }}">Get directions</a></p>
        <p><a href="{{ site.data.hotel.reservation_url }}">Reserve a room</a></p>
        <div class="alert-box alert-info"><strong>Note:</strong> You must book a room by May 11th. Due to limitations of the hotel booking website, the reservation link will not work on a mobile device. To reserve a room, you must open it on a computer.</div>
      </div>
    </div>
  </div>
</section>
