<div class="separator mt-lg section-4"></div>

<section id="hotel" class="pt-xl pb-md">
  <h1 class="title centered borderless mb-lg">Hotel</h1>
  <div class="container">
    <p>Here is some information about where you can stay while you're in town for the wedding.</p>
    <div class="col-with-photo">
      <div class="col-photo">
        <img src="http://placehold.it/250x250">
      </div>
      <div class="col-content">
        <h3 class="title">Some Hotel</h3>
        <p class="mb-0">123 Main Street</p>
        <p>Fort Worth, TX 76104</p>
        <p><a href="#">Get directions</a></p>
      </div>
    </div>
  </div>
</section>
