<div class="separator mt-lg section-3"></div>

<section id="reception" class="pt-xl pb-md">
  <h1 class="title centered borderless mb-lg">Reception</h1>
  <div class="container">
    <div class="col-with-photo">
      <div class="col-photo">
        <img src="assets/img/809.png">
      </div>
      <div class="col-content">
        <h3 class="title">{{ site.data.reception.venue }}</h3>
        <p class="mb-0">{{ site.data.reception.address_1 }}</p>
        <p>{{ site.data.reception.address_2 }}</p>
        <p><a href="{{ site.data.reception.directions }}" target="_blank">Get directions</a></p>
        <p>{{ site.data.reception.date_time }}</p>
      </div>
    </div>
  </div>
</section>
