<div class="separator mt-lg section-3"></div>

<section id="reception" class="pt-xl pb-md">
  <h1 class="title centered borderless mb-lg">Reception</h1>
  <div class="container">
    <div class="col-with-photo">
      <div class="col-photo">
        <img src="assets/img/809.png">
      </div>
      <div class="col-content">
        <h3 class="title">809 at Vickery</h3>
        <p>809 W Vickery Blvd</p>
        <p>Fort Worth, TX 76104</p>
        <p><a href="#">Get directions</a></p>
        <p>Saturday, June 11, 2016 at 6:00pm</p>
      </div>
    </div>
  </div>
</section>
