<div class="separator mt-lg section-6"></div>

<section id="registry" class="pt-xl pb-md">
  <h1 class="title centered borderless mb-lg">Registry</h1>
  <div class="container">
    <p>More than anything we want to celebrate this day with you, our family and friends. If you are inclined to get us something, we've assembled a few lists to help give you some ideas.</p>
    <div class="grid-row with-gutters stacked-mobile row-middle">
      <div class="grid-col">
        <a href="#" class="px-sm py-md"><img class="registry-img" src="assets/img/target.png"></a>
      </div>
      <div class="grid-col">
        <a href="#" class="px-sm py-md"><img class="registry-img" src="assets/img/crate-and-barrel.png"></a>
      </div>
      <div class="grid-col">
        <a href="#" class="px-sm py-md"><img class="registry-img" src="assets/img/bed-bath-beyond.png"></a>
      </div>
    </div>
  </div>
</section>
