<div class="separator mt-lg section-6"></div>

<section id="registry" class="pt-xl pb-md">
  <h1 class="title centered borderless mb-lg">Registry</h1>
  <div class="container">
    <p class="centered">More than anything we want to celebrate this day with you, our family and friends. If you are inclined to get us something, we've assembled a few lists to help give you some ideas.</p>
    <div class="grid-row with-gutters stacked-mobile row-middle">
      <div class="grid-col">
        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=6501488" target="_blank" class="px-sm py-md"><img class="registry-img" src="assets/img/macys.png"></a>
      </div>
      <div class="grid-col">
        <a href="http://www.crateandbarrel.com/gift-registry/laura-kelly-and-austin-reed/r5461380" target="_blank" class="px-sm py-md"><img class="registry-img" src="assets/img/crate-and-barrel.png"></a>
      </div>
      <div class="grid-col">
        <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542321347&pwsurl=" target="_blank" class="px-sm py-md"><img class="registry-img" src="assets/img/bed-bath-beyond.png"></a>
      </div>
    </div>
  </div>
</section>
