<div class="separator mt-lg section-7"></div>

<section id="rsvp" class="pt-xl pb-md">
  <h1 class="title centered borderless mb-lg">RSVP</h1>
  <div class="container">
    <div id="loading_rsvp_data" class="spinner"></div>
    <div id="error_message" class="alert-box alert-error"><strong>Sorry!</strong> We couldn't find a reservation with that code. Please try again. If you think this is an error, please contact Laura or Austin.<span class="dismiss-alert"><i class="fa fa-times"></i></span></div>
    <div id="error_submitting" class="alert-box alert-error"><strong>Uh oh!</strong> Looks like something went wrong while submitting your RSVP. Sorry about that! Please try again.<span class="dismiss-alert"><i class="fa fa-times"></i></span></div>
    <div id="success_message" class="alert-box alert-success">Thanks! Your RSVP has been successfully submitted.<span class="dismiss-alert"><i class="fa fa-times"></i></span></div>

    <fieldset class="pt-md pb-xl" id="code_group">
      <div class="form-group flex">
        <input id="rsvp_code" type="text" class="form-control fg-1" placeholder="Enter RSVP code" autocapitalize="off" autocomplete="off" spellcheck="false" autocorrect="off">
        <button id="submit_code" type="button" class="btn fb-a">Search</button>
      </div>
    </fieldset>

    <fieldset class="pt-md pb-xl" id="guest_info">
    </fieldset>
  </div>
</section>
